<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Tableau de bord SECURACCES</title>
</head>
<body>

    <h1>Tableau de bord SECURACCES</h1>

    <h2>Derniers accès</h2>

    <table border="1">
        <tr>
            <th>UID</th>
            <th>Résultat</th>
            <th>Date / Heure</th>
        </tr>

        {% for acces in journaux %}
        <tr>
            <td>{{ acces[0] }}</td>
            <td>{{ acces[1] }}</td>
            <td>{{ acces[2] }}</td>
        </tr>
        {% endfor %}
    </table>

    <br />
    <a href="/purge_logs"
       onclick="return confirm('Voulez-vous vraiment supprimer tous les journaux d’accès ?');">
        Supprimer tous les journaux
    </a>

    <h2>Cartes autorisées</h2>

    <table border="1">
        <tr>
            <th>UID</th>
        </tr>

        {% for carte in cartes %}
        <tr>
            <td>{{ carte[0] }}</td>
        </tr>
        {% endfor %}
    </table>

    <h2>Ajouter une carte RFID</h2>

    <form method="POST" action="/add_card">
        <input type="text" name="uid" placeholder="UID de la carte" required>
        <button type="submit">Ajouter</button>
    </form>

    <h2>Supprimer une carte RFID</h2>

    <form method="POST" action="/delete_card">
        <input type="text" name="uid" placeholder="UID de la carte" required>
        <button type="submit">Supprimer</button>
    </form>

    <br />
    <a href="/logout">
        Déconnexion
    </a>
</body>
</html>
